<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <title>Flash Card App</title>
    </head>
    <body>
        <div id="app">
            <h1 v-text="deckName"></h1>

           <div class="user-input">
            <input type="text" name="" id="" v-model="userInput">
           </div>
            <div class="card">
                <!-- <h2 v-text="userInput == 'flip' ? '' : cards[0].front"></h2>
                <div v-html=" userInput == 'flip'  ? cards[0].back : '' "></div> -->

                <!-- <h2 v-text=" flipped ? '' : cards[index].front" @click="flipCard()"></h2>
                <div v-html="flipped ?  cards[index].back : '' "></div> -->

                <h2 v-if="!flipped" v-text="front" @click="flipCard()"></h2>
                <div v-else v-html="back" @click="flipCard()"></div>

                <h2 v-show="!flipped" v-text="front" @click="flipCard()"></h2>
                <div v-show="flipped" v-html="back" @click="flipCard()"></div>
            </div>
            <div class="navigation">
                <button @click="move(-1)"> Back</button>
                <button @click="move(1)"> Next</button>
            </div>

            <a :href="readMoreUrl"> Read More</a>
        </div>

        <script src="data.js"></script>
        <script src="https://unpkg.com/vue@3.0.7/dist/vue.global.js"></script>
        <script>
            const FlashCardApp = {
                data() {
                    return {
                        deckName: 'Vue.js Fundamentals',
                        cards,
                        index : 0,
                        flipped : false,
                        readMoreUrl : 'https://v3.vuejs.org/guide',
                        userInput : 'Default'
                    };
                },
                methods:{
                    flipCard() {
                    this.flipped = !this.flipped
                },
                move(val){
                    if(this.cards[this.index + val]){
                        this.index += val
                        this.flipped =false
                    }
                    
                }
            },

            computed : {
                front(){
                    return this.cards[this.index].front
                },
                back(){
                    for (let i = 0; i < 3e9 ; i++){

                    }
                    return this.cards[this.index].back

                },
            }
        }
                  

           const app =  Vue.createApp(FlashCardApp).mount('#app');
        </script>
    </body>
</html>
